<!-- 読み込むscssファイル -->
<%= stylesheet_link_tag "greeds/index", :media => "all" %>

<main class="main">
	<div class="for-background">
		<div class="container-wrapper">
			<h1 class="page-title">欲の選択</h1>
			<hr class="hr-first">
			<div class="upper-stage">
				<%= link_to recommend_products_path(@greeds[0].id) do %>
					<div class="greed-img-1">
						<%= attachment_image_tag @greeds[0], :greed_image_name, :fill, 250, 250, format: 'jpeg', class: "greed-image" %>
						<div class="mask">
							<div class="caption"><%= @greeds[0].greed_type %></div>
						</div>
					</div>
				<% end %>
				<%= link_to recommend_products_path(@greeds[1].id) do %>
					<div class="greed-img-2">
						<%= attachment_image_tag @greeds[1], :greed_image_name, :fill, 250, 250, format: 'jpeg', class: "greed-image" %>
						<div class="mask">
							<div class="caption"><%= @greeds[1].greed_type %></div>
						</div>
					</div>
				<% end %>
				<%= link_to products_path(@greeds[2].id) do %>
					<div class="greed-img-3">
						<%= attachment_image_tag @greeds[2], :greed_image_name, :fill, 250, 250, format: 'jpeg', class: "greed-image" %>
						<div class="mask">
							<div class="caption"><%= @greeds[2].greed_type %></div>
						</div>
					</div>
				<% end %>
			</div>
			<div class="lower-stage">
				<%= link_to products_path(@greeds[3].id) do %>
					<div class="greed-img-4">
						<%= attachment_image_tag @greeds[3], :greed_image_name, :fill, 250, 250, format: 'jpeg', class: "greed-image" %>
						<div class="mask">
							<div class="caption"><%= @greeds[3].greed_type %></div>
						</div>
					</div>
				<% end %>
				<%= link_to products_path(@greeds[4].id) do %>
					<div class="greed-img-5">
						<%= attachment_image_tag @greeds[4], :greed_image_name, :fill, 250, 250, format: 'jpeg', class: "greed-image" %>
						<div class="mask">
							<div class="caption"><%= @greeds[4].greed_type %></div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</main>