
<%= stylesheet_link_tag 'greeds/new', :media => "all" %>

<main>
	<div class="container">
		<div class="row">
			<h3>欲カテゴリー追加</h3>
			<%= form_for @greed, url: greeds_path do |f| %>
			<table class='table table1'>
			  	<tr>
			    	<th><%= f.label :category %><th>
			    	<th><%= f.text_field :greed_type %></th>
			  	</tr>
			  	<tr>
			    	<th><%= f.label :image %><th>
			    	<th><%= f.attachment_field :greed_image_name %></th>
			  	</tr>
			</table>
			<%= f.submit "作成" , class: 'square_btn'%>
			<% end %>
		</div>
		<div class="row">
			<h4>一覧</h4>
			<table class="table table2">
				<% @greeds.each do |greed| %>
				<%= form_for greed, url: greed_path(greed.id) do |g| %>
				<tr>
					<th class="id"><%= g.text_field :id %></th>
					<th><%= attachment_image_tag greed, :greed_image_name, :fill, 80, 80, format: 'jpeg' %></th>
					<th><%= g.attachment_field :greed_image_name %></th>
					<th><%= g.text_field :greed_type %></th>
					<th><%= g.submit '更新', class: 'square_btn2' %></th>
					<th><%= link_to "削除", greed_path(greed.id), method: :delete, class: 'btn', "data-confirm" => "本当に削除しますか?" %></th>
				</tr>
				<% end %>
				<% end %>
			</table>
		</div>
	</div>
</main>

