<h2>パスワード変更画面</h2>

<%= form_for(@user, :url => { :action => "password_update" } ) do |f| %>

  <div class="field">
    <%= f.label :password %> <i>(変更しない場合は入力不要)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> 文字以上</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %> <i>（新しいパスワード（再確認用））</i><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(現在のパスワード)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>

<%= link_to "前の画面へ戻る", :back %>