
<div class="box">

	<%= link_to "編集へ", edit_user_path(@user.id), class: "btn-sm" %>
	<h4>アカウント情報</h4>
	<table class='table'>
	<p>登録内容</p>
	  	<tr>
	    	<th>お名前</th>
	    	<th><sup><%= @user.last_name_kana %> <%= @user.first_name_kana %></sup><br>
	    		<%= @user.last_name %> <%= @user.first_name %> </th>
	  	</tr>
	  	<tr>
	    	<th>メールアドレス</th>
	    	<th><%= @user.email %></th>
	  	</tr>
	  	<tr>
	   	 	<th>電話番号</th>
	    	<th><%= @user.phone_number %></th>
	  	</tr>
	  	<tr>
	    	<th>私の欲</th>
	    	<th><%= @user.greed.greed_type %></th>
	  	</tr>
	  	<tr>
	    	<th>お支払い方法</th>
	    	<th><% if @user.payment_method == 1 %>代引き<% else %>銀行振込<% end %></th>
	  	</tr>
	</table>
</div>
<div class="box">
	<p>登録住所</p>
	<% if @range != 1 %>
	<form name="sort_form">
	  お届け先
	    <select name="sort" onchange="dropsort()">
	        <option value=""> --変更-- </option>
	        <% if @user.default_address != 1 %><option value="/users/<%= @user.id%>/addresses?sort=1">1番</option><% end %>
	        <% if @user.default_address != 2 %><option value="/users/<%= @user.id%>/addresses?sort=2">2番</option><% end %>
	        <% if @user.default_address != 3 && @range == 3 %><option value="/users/<%= @user.id%>/addresses?sort=3">3番</option><% end %>
	    </select>
	</form>
	<% end %>

	<table class='table'>
		<% nos = 1..@range %>
		<% @addresses.zip(nos).each do |address, no| %>
	  <tr>
	  	<td><% if @user.default_address == no %><div class="red"><%= no %>番を選択中</div><% else %><%= no %>番<% end %></td>
	    <td><%= address.postal_code %></td>
	    <td><%= address.address %></td>
	    <td><% if @range != 1 && @user.default_address != no %><%= link_to "削除", address_path(address.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn-sm" %><% end %></td>
	  </tr>
	  	<% end %>
	</table>
</div>
<%= link_to "退会", user_path(@user.id), method: :delete, "data-confirm" => "本当に退会しますか？", class: "btn-sm" %>

<div class="box2">
	<h4>購入履歴</h4>
	<table class='table'>
		<tr>
			<th>番号</th>
			<th>購入日</th>
			<th>ステータス</th>
			<th>詳細へ</th>
		</tr>
		<tr>
			<td>画像</td>
			<td>商品名</td>
			<td>個数</td>
			<td>金額</td>
		</tr>
	</table>
</div>
