<h1>注文詳細ページ　※管理者用 <span>編集</span></h1>

<div class="body">
	<div class="container">
		<div class="row">
			<h3>注文日：<%= @order.order_datetime.strftime('%Y年%m月%d日') %></h3>
			<% if administrator_signed_in? %>
				<p class="delivery-status">現在の配送ステータス：
					<% if @order.delivery_status == 1 %>
						<td><%= "出荷準備中" %></td>
					<% elsif @order.delivery_status == 2 %>
						<td><%= "配送中" %></td>
					<% else %>
						<td><%= "配達済み" %></td>
					<% end %>
				</p>
				<%= form_for @order, url: update_admin_order_path do |f| %>
				    <%= f.label :delivery_status, "出荷準備中" %>
					<%= f.radio_button :delivery_status, 1 %><br>

					<%= f.label :delivery_status, "配送中" %>
					<%= f.radio_button :delivery_status, 2 %><br>

					<%= f.label :delivery_status, "配達済み" %>
					<%= f.radio_button :delivery_status, 3 %><br>

					<%= f.submit '配送ステータス変更' %>
				<% end %>
			<% end %>
		</div>
		<div class="row order-info">
			<h3>支払い情報</h3>
			<p>購入者：<span><%= @user.last_name + @user.first_name %></span></p>
			<p>送付先：<span><%= @order.delivery_address %></span></p>
		</div>
		<div class="row">
			<h3>注文商品</h3>
			<% item_price = 0 %>
			<% buy_quantity = 0 %>
			<% total_price = 0 %>
			<% total_quantity = 0 %>
			<% @order_items.each do |order_item| %>
				<%= link_to product_path(order_item.product_id) do %>
					<div class="order-item-info">
						<div>
							<%= attachment_image_tag order_item, :o_product_image_name, :fill,100,100,format: 'jpeg' %>
						</div>
						<div>
							<p>シングル/アルバム名</p>
							<%= order_item.o_product_name %>
							<p>アーティスト名</p>
							<%= order_item.o_artist_name %>
						</div>
						<div>
							<p>価格：<span><%= order_item.o_price %></span></p>
							<% item_price = order_item.o_price %>
							<p>購入数：<span><%= order_item.o_quantity %></span></p>
							<% buy_quantity = order_item.o_quantity %>
							<% total_quantity += buy_quantity %>
							<% total_price += item_price * buy_quantity %>
						</div>
					</div>
				<% end %>
			<% end %>
			<div class="row calc">
				<p>購入数：<%= total_quantity %>,<span>合計：<%= total_price %></span></p>
			</div>
		</div>
	</div>
</div>