<!-- 読み込むscssファイル -->
<%= stylesheet_link_tag "orders/admin_show", :media => "all" %>

<main class="main">
	<div class="for-background">
		<div class="container-wrapper">
			<h2 class="page-title">注文詳細　ー注文番号：<%= @order.id %>ー　</h2>
			<hr class="hr-first">
			<div class="containers">
				<!-- 注文内容情報 -->
				<div class="main-container">
					<h4 class="container-title">注文内容</h4>
					<p class="order-date">注文日：<%= @order.order_datetime.strftime('%Y年%m月%d日 %p %H:%M') %></p>
					<p class="order-id">注文番号：<%= @order.id %></p>
					<table class='table'>
						<tr>
							<th>商品名</th>
							<th>商品画像</th>
							<th>アーティスト名</th>
							<th>数量</th>
							<th>金額</th>
						</tr>
						<% item_price = 0 %>
						<% buy_quantity = 0 %>
						<% total_price = 0 %>
						<% total_quantity = 0 %>
						<% @order_items.each do |order_item| %>
							<tr>
							    <td><%= link_to product_path(order_item.product_id) do %>
							    	<%= order_item.o_product_name %><% end %></td>
							    <td><%= attachment_image_tag order_item, :o_product_image_name, :fill, 50, 50,format: 'jpeg' %></td>
								<td><%= order_item.o_artist_name %></td>
								<td class="order-quantity"><%= order_item.o_quantity %></td>
								<td><%= order_item.o_price.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,') %></td>
							</tr>
							<% item_price = order_item.o_price %>
							<% buy_quantity = order_item.o_quantity %>
							<% total_quantity += buy_quantity %>
							<% total_price += item_price * buy_quantity %>
						<% end %>
						<div class="total">
							<tr>
								<th>合計</th>
								<th></th>
								<th></th>
								<th class="total-quantity"><%= total_quantity %></th>
								<th><%= total_price.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,') %> 円</th>
							</tr>
						</div>
					</table>
				</div>
				<!-- 支払い情報 -->
				<div  class="side-container">
					<div class="first-box">
						<h4 class="container-title">配送情報</h4>
						<div class='order-info'>
						    <p class="delivery-status">配送ステータス：
						    	<% if @order.delivery_status == 1 %>
									<%= "出荷準備中" %></p>
								<% elsif @order.delivery_status == 2 %>
									<%= "配送中" %></p>
								<% else %>
									<%= "配達済み" %></p>
								<% end %>
						    <p class="user-name"><%= @user.last_name %> <%= @user.first_name %></p>
						  	<p class="user-address">〒<%= @order.postal_code %><br><%= @order.delivery_address %></p>
						  	<p class="user-phone"></p>
						  	<p class="user-greed"></p>
						</div>

						<div class="status-change">
							<% if administrator_signed_in? %>
								<%= form_for @order, url: admin_update_order_path do |f| %>
								    <%= f.label :delivery_status, "出荷準備中" %>
									<%= f.radio_button :delivery_status, 1 %><br>

									<%= f.label :delivery_status, "配送中" %>
									<%= f.radio_button :delivery_status, 2 %><br>

									<%= f.label :delivery_status, "配達済み" %>
									<%= f.radio_button :delivery_status, 3 %><br>

									<%= f.submit '配送ステータス変更', class: "change-button" %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>