<%= stylesheet_link_tag 'orders/new', :media => 'all' %>
<%= javascript_include_tag "order.js" %>

<div class="container orders_new">
	<div class="notice">
		<% if flash[:notice] %>
			<%= flash[:notice] %>
		<% end %>
	</div>
	<div class="row buy-title-box">
		<h2 class="buy-title">ご注文内容の確認</h2>
	</div>
	<div class="quantity_change_notice">
		<% if flash[:quantity_notice] %>
			<%= flash[:quantity_notice] %>
		<% end %>
	</div>
	<div class="buy-form">
		<% if @sum == 0 %>
			<div class="no-item-body">
				<div class="no-item-text">
					<h4>現在カート内に購入可能な商品はありません。</h4>
					<p><%= link_to '買い物にもどる', products_path(current_user.greed.id), class: 'no-item-button' %></p>
				</div>
			</div>
		<% else %>
		<div class="row">
			<%= form_for @order, url: admin_orders_path do |f| %>
				<div class="col-xs-6">
					<h3>１.購入情報</h3>
					<div class="delivery-info">
						<div class="delivery-select-box">
							<div class="payment-method">
								<%= f.label :payment_method,'支払い方法'%>
								<% if current_user.payment_method == 1 %>
						      		<p><%= f.radio_button :payment_method, 1, :checked => true %><span>代引き</span>
						      		<%= f.radio_button :payment_method, 2 %><span>銀行振込</span></p>
						      	<% else %>
						      		<p><%= f.radio_button :payment_method, 1 %><span>代引き</span>
						      		<%= f.radio_button :payment_method, 2, :checked => true %><span>銀行振込</span></p>
						      	<% end %>
						   	</div>
						   	<div class="delivery-method">
					      		<!--<%= f.label :delivery_date,'希望配達日' %>
					      		<%= f.text_field :delivery_date ,class: "datepicker",autocomplete: 'off'%> -->
					      		<%= f.label :delivery_time, '希望配達時間' %>
					      		<p><%= f.select :delivery_time, Order.delivery_times.keys.to_a,{} %></p>
					      	</div>
				      	</div>
						<div class="address-select">
						<!-- 住所ラジオボタン -->
							<label>配達先住所</label>
						 	<% array_num = 0 %>
							 <% @address_array.each do |address| %>
							 	<div class="address-box">
							 		<% if array_num == @default_button_num %>
										<div class="address-button"><%= f.radio_button :delivery_address,@address_array[array_num], :checked => true %></div>
									<% else %>
										<div><%= f.radio_button :delivery_address,@address_array[array_num] %></div>
									<% end %>
									<div>
										<p>〒<%= @postal_array[array_num] %></p>
										<p><%= @address_array[array_num] %></p>
									</div>
								</div>
							<% array_num += 1 %>
							<% end %>
						</div>
				    </div>
			    </div>
		      	<div class="col-xs-6">
					<div class="buy-box">
						<div class="total-price-box">
							<label>合計</label>
							<span>
								<span class="total-mark">¥</span>
								<span class="total-price"><%= @sum.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,') %></span>
							</span>
						</div>
						<div class="buy-field">
							<% if @sum != 0 %>
								<p><%= f.submit '購入を確定する', class: "buy-button" %></p>
							<% else %>
								<p><%= f.submit '購入を確定する', class: "buy-button-non" %></p>
							<% end %>
							<p class="link-back"><%= link_to '→カートに戻る',cart_items_path %></p>
						</div>
					</div>
				</div>
		   	<% end %> <!-- form_forのend -->
		</div>
		<div class ="row">
			<div class="col-xs-7">
				<h3>２.商品情報</h3>
			<% @cart_items.each do |cart_item| %>
				<!-- 在庫０なら決済ページに表示しない -->
	      		<% if cart_item.quantity != 0 %>
					<% product = cart_item.product %>
					<div class="cart-item">
						<div class="item-image">
							<%= attachment_image_tag product, :product_image_name, :fill, 160, 160, format: 'jpeg', fallback: "no_image.jpg" %>
						</div>
						<div class="item-description">
							<div class="item-detail">
								<p class="item-name"><%= product.product_name %></p>
								<p class="item-artist"><%= product.artist_name %></p>
								<div class="item-price">
									<p>¥  <%= product.price.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,') %></p>
								</div>
							</div>
							<div class="item-stock">
								<!-- 在庫状況調査 -->
								<div class="item-inventry">
									<%	case product.inventry_status
											when 0 then
										    	inventry_symbol = '×'
										       	no_inventry = true
										    when 1..10 then
										       	inventry_symbol = product.inventry_status
										    when 11..30 then
										       	inventry_symbol = '△'
										    else
						         				inventry_symbol = '◯'
										end %>
										<p class="inventry">在庫：<%= inventry_symbol %></p>
									<% if no_inventry == true %>
										<p class="inventry">ー</p>
									<% else %>
										<% inventry_array = [] %>
										<% product.inventry_status.times do |q|
											if q < 10
												inventry_array << [q + 1, q + 1]
											else
												break
											end %>
										<% end %>
									<% end %>
								</div>
							</div>
							<div class="quantity-box">
								<div class="quantity">
									<p>数量：<%= cart_item.quantity %></p>
								</div>
								<div class="delete-button"><%= link_to '削除', cart_item_path(cart_item.id),method: :delete %>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
			</div>
		</div>
		<% end %>
	</div>
</div>
