<%= stylesheet_link_tag "cart_items/index", :media => "all" %>

<div class="container">
	<div class="notice">
		
	</div>
	<div class="row cart-title-box">
		<h2 class="cart-title"><i class="fas fa-shopping-cart fa-flip-horizontal"></i>ショッピングカート</h2>
	</div>
	<div class="quantity_change_notice">
		
	</div>
	<% if @cart_items.empty? %>
		<div class="no-item-body">
			<div class="no-item-text">
				<h4>現在カートに商品はありません。</h4>
				<p><%= link_to '買い物にもどる', products_path(current_user.greed.id), class: 'no-item-button' %></p>
			</div>
		</div>
	<% else %>
		<div class ="row">
			<div class="col-xs-6">
			<!--合計計算用 -->
			<% @sum = 0 %>
			<% @cart_items.each do |cart_item| %>
				<% product = cart_item.product %>
				<div class="cart-item">
					<div class="item-image">
						<%= link_to product_path(product.id) do %>
							<%= attachment_image_tag product, :product_image_name, :fill, 160, 160, format: 'jpeg', fallback: "no_image.jpg" %>
						<% end %>
					</div>
					<div class="item-description">
						<div class="item-detail">
							<p class="item-name"><%= product.product_name %></p>
							<p class="item-artist"><%= product.artist_name %></p>
							<div class="item-price">
								<p>¥  <%= product.price.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse %></p>
								<% subtotal = product.price * cart_item.quantity %>
								<% @sum += subtotal %>
							</div>
						</div>
						<div class="item-stock">	
							<!-- 在庫状況調査 -->
							<div class="item-inventry">
								<%	case product.inventry_status
										when 0 then
									    	inventry_symbol = '×'
									       	no_inventry = true
									    when 1..10 then
									       	inventry_symbol = product.inventry_status
									    when 11..30 then
									       	inventry_symbol = '△'
									    else
					         				inventry_symbol = '◯'
									end %>
									<p class="inventry">在庫：<%= inventry_symbol %></p>
								<% if no_inventry != true %>
									<% inventry_array = []
									product.inventry_status.times do |q|
										if q < 10
											inventry_array << [q + 1, q + 1]
										else
											break
										end %>
									<% end %>
								<% end %>
							</div>
								<div class="quantity-setting-box">
								<% if no_inventry != true %>
									<%= form_for(cart_item, url:cart_item_path(cart_item.id)) do |f| %>
										<%= f.label :quantity, '数量', class: "quantity-label"%>
										<%= f.select :quantity, inventry_array %>
										<%= f.submit '更新', class: "submit-button"%>
									<% end %>
									<div class="delete-button"><%= link_to '削除', cart_item_path(cart_item.id),method: :delete %>
									</div>
								<% else %>
									<div class="delete-button no-item"><%= link_to '削除', cart_item_path(cart_item.id),method: :delete %>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
			</div>
			<div class="col-xs-6">
				<% if @sum != 0 %>
					<div class="buy-box">
						<div class="total-price-box">
							<label>合計</label>
							<span>
								<span class="total-mark">¥</span>
								<span class="total-price"><%= @sum.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse %></span>
							</span>
						</div>
						<div class="buy-field">
							<p><%= link_to '決済にすすむ', new_order_path ,class: "buy-button" %></p>
							<p class="link-back"><%= link_to '→買い物を続ける', products_path(current_user.greed.id) %></p>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
</div>