<div class="oders_new">
	<table class="table_cart_items">
		<thead>
			<tr>
			</tr>
		</thead>
		<% @cart_items.each do |cart_items| %>
		<tbody>
			<tr>
				<td><%= attachment_image_tag cart_items, :product_image_name_id, :fill, 100, 100, format: 'jpeg', class: "img-circle profile-img", fallback: "no_image.jpg" %></td>
				<td><%= cart_items.product_name %></td>
				<td><%= cart_items.quantity %>点</td>
				<td>¥<%= cart_items.price %></td>
				<td>在庫:<%= case cart_items.inventy_status
						when 0 then
							puts '×'
						when 1..10 then
							puts '△' cart_items.inventy_status '枚'
						else
							puts '◯'
						end %></td>
				<td>合計金額：<%= sum += cart_items.price %></td>
			</tr>
		</tbody>
		<% end %>
	</table>

<!-- odersコントローラーcreateアクション？ -->
	<div class="orders_status">
	<% form_for @user, :url => {:controller => :orders, :action => :creste}) do |f| %>
		<div class="orders_address">
			<% = f.radio_button :delivery_address %>f.addresses.id[1]
			<% = f.radio_button :delivery_address %>f.addresses.id[2]
			<% = f.radio_button :delivery_address %>f.addresses.id[3]
		</div>
		<div class="delivery_information">
			<%= f.select payment_method,["代金引換"]["銀行振込"] %>
			<%= f.select delivery_date,[注文日から３日以降の選択肢] %>
			<%= f.select delivery_time,["午前中"]["12:00~15:00"]["15:00~18:00"]["18:00~21:00"] %>
		</div>
	</div>
	<div class="/">
		<div><%= f.submit '!!!!!決済!!!!!', class: 'btn btn-primary' %></div>
	</div>
	<% end %>