
<%= stylesheet_link_tag 'products/admin_edit', :media => "all" %>

<main>
	<div class="container">
		<div class="row">
		 	<h4><%= link_to "詳細へ", admin_show_product_path(@product.id) %></h4>
		</div>
		<div class="row">
			<%= form_for @product, url: admin_show_product_path, class: 'form-horizontal' do |f| %>
		 	<div class="col-lg-6">
				<h3>商品編集</h3>
				<table class='table'>
					<tr>
						<%= attachment_image_tag @product, :product_image_name, :fill, 100, 100, format: 'jpeg' %>
					</tr>
				  	<tr>
				    	<th><%= f.label :product_image_name, "画像" %><th>
				    	<th><%= f.attachment_field :product_image_name %></th>
				  	</tr>
				  	<tr>
				    	<th><%= f.label :greed_id, "欲カテゴリー" %><th>
				    	<th><span class="product-input"><%= f.select :greed_id,[['金',1],['癒',2],['力',3],['食',4],['愛',5]] %></span></th>
				  	</tr>
				  	<tr>
				    	<th><%= f.label :artist_name, "アーティスト名" %><th>
				    	<th><span class="product-input"><%= f.text_field :artist_name, class: 'form' %></span></th>
				  	</tr>
				  	<tr>
				    	<th><%= f.label :product_name, "シングル/アルバム名" %><th>
				    	<th><span class="product-input"><%= f.text_field :product_name, class: 'form' %></span></th>
				  	</tr>
				  	<tr>
				    	<th><%= f.label :label_name, "レーベル名" %><th>
				    	<th><span class="product-input"><%= f.select :label_name, Product.label_names.keys.to_a, {} %></span></th>
				  	</tr>
				  	<tr>
				    	<th><%= f.label :genre_name, "ジャンル" %><th>
				    	<th><span class="product-input"><%= f.select :genre_name, Product.genre_names.keys.to_a, {} %></span></th>
				  	</tr>
				  	<tr>
				    	<th><%= f.label :price, "値段" %><th>
				    	<th><span class="product-input"><%= f.text_field :price %></span></th>
				  	</tr>
				  	<tr>
				    	<th><%= f.label :inventry_status, "在庫数" %><th>
				    	<th><span class="product-input"><%= f.text_field :inventry_status %></span></th>
				  	</tr>
				</table>
			</div>

			<div class="col-lg-6">
				<div class="row add-product-field">
					<%= f.submit '確定', class: 'confirm-btn' %>
					<%= link_to "リセット", admin_edit_product_path(@product.id), class: 'riset' %>
				</div>
			</div>

			<div class="col-lg-6">
				<h4 class="music">曲一覧</h4>
				<table class="table">
					<thead>
						<tr>
							<th>Disc</th>
							<th>曲順</th>
							<th>曲名</th>
							<th></th>
							<th colspan="4"></th>
						</tr>
					</thead>

					<tbody>
						<%= f.nested_fields_for :musics, wrapper_tag: :tr do |m| %>
							<td><%= m.select :disk_number,[['Disc1',1],['Disc2',2],['Disc3',3],['Disc4',4]] %></td>
							<td><%= m.text_field :music_number, class: 'number' %></td>
							<td><%= m.text_field :music_name %></td>
							<td><%= m.remove_nested_fields_link '削除', class: 'destroy-btn', role: 'button' %><td>
						<% end %>
					</tbody>
				</table>
				<% end %>

				<h4 class="add-music">曲追加</h4>
				<table class="table">
					<thead>
						<tr>
							<th>Disc</th>
							<th>曲名</th>
							<th></th>
							<th colspan="3"></th>
						</tr>
					</thead>

					<tbody>
						<%= form_for @music, url: admin_new_music_path do |form| %>
						<tr>
							<td><%= form.select :disk_number,[['Disc1',1],['Disc2',2],['Disc3',3],['Disc4',4]] %></td>
							<td><%= form.text_field :music_name %></td>
							<td><%= form.submit "追加", class: 'add-btn' %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>

