<%= stylesheet_link_tag 'products/admin_show', :media => 'all' %>

<div class="title">
  <h2>商品詳細情報</h2>
</div>
<div class='container product-box'>
  <div class="row">
    <div class="nav-box">
      <div class="title-box">
        <h4>登録情報</h4>
      </div>
      <div class="links">
        <%= link_to '編集へ', admin_edit_product_path(@product.id), class: "edit-box"%>
        <%= link_to 'ユーザー側表示', product_path(@product.id),class: "usershow-box" %>
      </div>
    </div>
      <table class='table'>
        <tr>
          <th>ジャケット画像</th>
          <td><%= attachment_image_tag @product, :product_image_name, :fill, 100, 100, format: 'jpeg' %></td>
        </tr>
        <tr>
          <th>シングル名/アルバム名</th>
          <td><%= @product.product_name %></td>
        </tr>
        <tr>
          <th>アーティスト名</th>
          <td><%= @product.artist_name %></td>
        </tr>
        <tr>
          <th>価格</th>
          <td><%= @product.price.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,') %></td>
        </tr>
        <tr>
          <th>在庫</th>
          <td><%= @product.inventry_status.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,') %></td>
        </tr>
        <tr>
          <th>レーベル名</th>
          <td><%= @product.label_name %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @product.genre_name %></td>
        </tr>
        <tr>
          <th>売上</th>
          <td><%= @product.sales_quantity.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,') %></td>
        </tr>
      </table>
  </div>

  <div class="row">
    <div class=" col-xs-8">
      <h4>曲リスト</h4>
      <table class="table">
          <thead>
              <tr>
                  <th class="disc-number-column">Disc</th>
                  <th class="music-number-column">曲順</th>
                  <th>曲名</th>
          </thead>

          <tbody>
          <% @musics.each do |music| %>
              <tr>
                  <td><%= music.disk_number %></td>
                  <td><%= music.music_number %></td>
                  <td><%= music.music_name %></td>
              </tr>
          <% end %>
          </tbody>
      </table>
    </div>
  </div>
</div>
</main>