
<%= stylesheet_link_tag "products/index", :media => "all" %>

<div class="product-body">
	<div class="eye-catch">
	</div>
	<div class="container">
		<div class="row">
			<div class="category-choice">
				<h3>他の欲をみる</h3>
				<p>欲選択に合わせて実装</p>
				<div class="category-image">
				</div>
			</div>
		</div>
        <div class="row">
        	<div class="product-index-header">
        		<h3>欲を満たすCD</h3>
        		<div class="sort-box">
				<form name="sort_form">
	    			<select name="sort" onchange="dropsort()">
						<option value="/greeds/<%= @greed.id %>/products"> - 選択してください - </option>
						<option value="/greeds/<%= @greed.id %>/products?sort=sales_quantity desc" <% if @navi == 'sales_quantity desc' %> selected <% end %>>人気順</option>
						<option value="/greeds/<%= @greed.id %>/products?sort=id desc" <% if @navi == 'id desc' %> selected <% end %>>新着順</option>
						<option value="/greeds/<%= @greed.id %>/products?sort=price asc" <% if @navi == 'price asc' %> selected <% end %>>価格の安い順</option>
	        			<option value="/greeds/<%= @greed.id %>/products?sort=price desc"<% if @navi == 'price desc'%> selected <% end %>>価格の高い順</option>
	        		</select>
	        	</form>
        		</div>
        	</div>
        </div>
       	<div class="row">
	        <div class="product-index">
			<% @products.each do |product| %>
				<div class="product-box">
					<div class="product-image-box">
						<div class="product-image">
							<%= link_to product_path(product.id) do %>
								<%= attachment_image_tag product,:product_image_name, :fill,230,230 %>
							<% end %>
						</div>
					</div>
					<div class="product-text-box">
						<div class="product-name">
							<p><%= product.product_name %></p>
							<p><%= product.artist_name %></p>
						</div>
						<div class="product-price_stock">
							<p class="product-price">¥ <%= product.price %></p>
							<% if product.inventry_status == 0 %>
							<p class="product-stock">在庫切れ</p>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
			</div>
		</div>
	</div>
</div>
	<div class="paginate">
		<%= paginate @products %>
	</div>