商品追加
<%= form_for @product,url: products_path do |f| %>
	<!-- 仮にbootstrap方式 -->
<div class="container-fluid">
	<div class="row">
		<div class="col-ls-6">
			<%= f.attachment_field :product_image_name %>
		</div>
		<div class="col-ls-6">
			<!-- 型の指定はまだ -->
			<p>欲カテゴリ<span class="product-input"><%= f.select :greed_id,[['yoku1',1],['yoku2',2],['yoku3',3],['yoku4',4],['yoku5',5]] %></span></p>
			<p>アーティスト名<span class="product-input"><%= f.text_field :artist_name %></span></p>
			<p>シングル/アルバム名<span class="product-input"><%= f.text_field :product_name %></span></p>
			<p>レーベル名<span class="product-input"><%= f.text_field :label_name %></span></p>
			<p>ジャンル<span class="product-input"><%= f.text_field :genre_name %></span></p>
			<p>値段<span class="product-input"><%= f.text_field :price %></span></p>
			<p>在庫数<span class="product-input"><%= f.text_field :inventry_status %></span></p>
		</div>
	</div>


曲追加
<%= form_for @music, url: musics_path do |form| %>

<div class="field">
  <%= form.label :disk_number %><br />
  <%= form.text_field :disk_number %>
</div>

<div class="field">
  <%= form.label :music_name %><br />
  <%= form.text_field :music_name %>
</div>

<div class="actions">
  <%= form.submit "Create Music" %>
</div>
<% end %>

曲リスト

<table>
	<thead>
		<tr>
			<th>Disk</th>
			<th>Music_name</th>
			<th colspan="2"></th>
		</tr>
	</thead>

	<tbody>
	<% @musics.each do |music| %>
		<tr>
			<td><%= music.disk_number %></td>
			<td><%= music.music_name %></td>
		</tr>
	<% end %>
	</tbody>
</table>
	<div class="row add-product-field">
		<%= f.submit '商品追加', class: 'btn btn-primary' %>
	</div>
</div>
<% end %>

