<%= stylesheet_link_tag 'products/search', :media => 'all' %>


<div class="container">
	<div class="search-box">
	<div class="search-header">
		<h2>検索結果</h2>
	</div>
	<% if @products.empty? %>
	<div class="no-item-body">
		<div class="no-item-text">
			<h4>該当する商品はありません。</h4>
			<p><%= link_to '買い物にもどる', products_path(current_user.greed.id), class: 'no-item-button' %></p>
		</div>
	</div>
	<% end %>
		<% @products.each do |product| %>
			<div class="search-item">
				<div class="item-image">
					<%= link_to product_path(product.id) do %>
						<%= attachment_image_tag product, :product_image_name, :fill, 120, 120, format: 'jpeg', fallback: "no_image.jpg" %>
					<% end %>
				</div>
				<div class="item-description">
					<div class="item-detail">
						<p class="item-name"><%= product.product_name %></p>
						<p class="item-artist"><%= product.artist_name %></p>
						<div class="wrap-for-greed">
							<div class="item-info">
								<div class="item-price">
									<p>¥  <%= product.price.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,') %></p>
								</div>
								<div class="item-stock">
									<!-- 在庫状況調査 -->
									<div class="item-inventry">
										<%	case product.inventry_status
												when 0 then
												    inventry_symbol = '×'
												    no_inventry = true
												when 1..10 then
												    inventry_symbol = product.inventry_status
												when 11..30 then
												   	inventry_symbol = '△'
												else
								         			inventry_symbol = '◯'
											end %>
											<p class="inventry">在庫：<%= inventry_symbol %></p>
											<% if no_inventry == true %>
												<p class="inventry">ー</p>
											<% else %>
												<% inventry_array = [] %>
												<% product.inventry_status.times do |q|
													if q < 10
														inventry_array << [q + 1, q + 1]
													else
														break
													end %>
												<% end %>
											<% end %>
										</div>
									</div>
								</div>
								<div class="item-greed">
									<%= attachment_image_tag product.greed, :greed_image_name, :fill, 40,40, format: 'jpeg', class: "img-circle", fallback: "no_image.jpg" %>
								</div>
								<div>
									<%= form_for(@cart_item, url:create_cart_item_path(product.id)) do |f| %>
										 <%= f.hidden_field :quantity, :value => 1 %>
										<%= f.submit 'カートに入れる', class: "create-cart" %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
		<% end %>
	</div>
	<div class="paginate">
		<%= paginate @products %>
	</div>
</div>
