<h1>Products#show</h1>

<!-- クラス名は仮でつけています -->
<div class="body container-fluid">
	<div class="row">
		<div class="col-lg-5">
			<%= attachment_image_tag @product, :product_image_name %>
		</div>
		<div class="col-lg-7">
			<div>シングル名/アルバム名<p><%= @product.product_name %></p></div>
			<div>アーティスト名<p><%= @product.artist_name %></p></div>
			<p>値段<span><%= @product.price %></span></p>
			<p>在庫<span><%= @product.inventry_status %></span></p>
		</div>
	</div>
	<div class="row">
		<h2>登録情報</h2>
		<div class="col-lg-5">
			<p>レーベル名</p>
			<p><%= @product.label_name %></p>
			<p>ジャンル</p>
			<p><%= @product.genre_name %></p>
		</div>
		<div class="col-lg-7">
			<p>曲名</p>
			<!-- 並び替えはどうする？コントローラーで？こっちで？ -->
			<% @musics.each do |music| %>
				<p><%= music.disk_number %><%= music.music_number %><%= music.music_name %></p>
			<% end %>
		</div>
	</div>
</div>
