<div class="product-body">
	<div class="eye-catch">
	</div>
	<div class="container">
		<div class="sort-box">
			<form name="sort_form">
    			<select name="sort" onchange="dropsort()">
					<option value="/greeds/<%= @greed.id %>/products"> - 選択してください - </option>
					<option value="/greeds/<%= @greed.id %>/products?sort=sales_quantity desc" <% if @navi == 'sales_quantity desc' %> selected <% end %>>人気順</option>
					<option value="/greeds/<%= @greed.id %>/products?sort=id desc" <% if @navi == 'id desc' %> selected <% end %>>新着順</option>
					<option value="/greeds/<%= @greed.id %>/products?sort=price asc" <% if @navi == 'price asc' %> selected <% end %>>価格の安い順</option>
        			<option value="/greeds/<%= @greed.id %>/products?sort=price desc"<% if @navi == 'price desc'%> selected <% end %>>価格の高い順</option>
        		</select>
        	</form>
        </div>
        <div class="product-index">
		<% @products.each do |product| %>
			<div class="product-box">
				<div class="temporary-product-box">
				<div class="product-image">
					<%= link_to userside_product_path(product.id) do %>
						<%= attachment_image_tag product,:product_image_name, :fill,250,250 %>
					<% end %>
				</div>
				<div class="product-text">
					<p><%= product.artist_name %></p>
					<p><%= product.product_name %></p>
					<p>¥ <%= product.price %></p>
					<% if product.inventry_status == 0 %>
						<p>在庫切れ</p>
					<% end %>
				</div>
				</div>
			</div>
		<% end %>
		</div>
	</div>
</div>