<!DOCTYPE html>
<html>
  <head>
    <title>GreedIsland</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
  </head>

  <body>
    <% if @greed_flag != true %>
    <!-- ヘッダー -->
    <!-- 管理者ヘッダー -->
    <% if administrator_signed_in? %>
      <nav class="navbar navbar-default navbar-admin">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class= "navbar-brand">
              <%= link_to '欲望.com', admin_products_path %>
            </div>
          </div>
          <% if @search_form_flag == true %>
            <div class="search-form search-form-admin">
              <%= form_tag search_products_path, :method => 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
                <p>
                  <%= text_field_tag :search, params[:search], placeholder: "商品名を入力" %>
                 <%= submit_tag "検索", :product_name => nil ,class: "search-button" %>
                </p>
              <% end %>
            </div>
          <% end %>
          <div class="header-text">
            <p>管理者：<%= current_administrator.email %>でログイン中</p>
          <% if user_signed_in? %>
            <p>ユーザー：<%= current_user.first_name %>でログイン中</p>
          <% end %>
          </div>
            <ul class="nav navbar-nav">
                 <li><%= link_to '商品追加', admin_new_product_path, class: "" %></li>
                <li><%= link_to '商品一覧', admin_products_path, class: "" %></li>
                <li><%= link_to '顧客一覧', admin_users_path, class: "" %></li>
                <li><%= link_to '注文一覧', admin_orders_path, class: "" %></li>
                <li><%= link_to '管理者ログアウト', destroy_administrator_session_path, method: :delete,
                     "data-confirm" => "本当にログアウトしますか？", class: "" %>
                </li>
            </ul>
        </div>
    </nav>

    <% else %>
    <!-- ユーザーのみサインインもしくはサインインしていない場合 -->
      <nav class="navbar navbar-default navbar-user">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class= "greed-icon">
              <% if user_signed_in? %>
                <%= link_to image_tag('logo1.jpg', :size => "55x45", :alt => "アイコン"),products_path(current_user.greed.id), class: "greed-icon" %>
              <% else %>
                <%= link_to image_tag('logo1.jpg', :size => "55x45", :alt => "アイコン"), greeds_path, class: "greed-icon" %>
              <% end %>
            </div>
          </div>
          <% if @search_form_flag == true %>
            <div class="search-form">
              <%= form_tag search_products_path, :method => 'get' do %>
              <p>
                <%= text_field_tag :search, params[:search] , placeholder: "商品名を入力" %>
                <%= submit_tag "検索", :product_name => nil ,class: "search-button" %>
              </p>
            <% end %>
            </div>
          <% end %>
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                <li><%= link_to 'マイページ', user_path(current_user.id), class: "" %></li>
                <li><%= link_to 'カート', cart_items_path, class: "" %></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete,
                     "data-confirm" => "本当にログアウトしますか？", class: "" %>
                <li><%= link_to '欲選び', greeds_path, class: "" %></li>
                     </li>
              <% else %>
                <li><%= link_to 'ログイン', new_user_session_path, class: "" %></li>
                <li><%= link_to '会員登録', new_user_registration_path, class: "" %></li>
                 <li><%= link_to '管理者ログイン', new_administrator_session_path, class: "" %></li>
                <li><%= link_to '欲選び', greeds_path, class: "greed-choice" %></li>
              <% end %>
            </ul>
      </div>
    <% end %>

    </nav>
    <% if alert %>
      <div class="alert-text hide">
        <p class="alert alert-danger"><%= alert %></p>
      </div>
    <% end %>
    <% if notice %>
      <div class="alert-text hide">
        <p class="alert notice"><%= notice %></p>
      </div>
    <% end %>
    <% end %>

    <%= yield %>

    <% if @greed_flag != true %>
    <!-- フッター -->
    <div class="clearfix"></div>
    <footer class="clearfix">
      <div class="footer-contents">
        <%= link_to '利用規約', service_path, class: "service-info" %>
        <%= link_to 'プライバシーポリシー', privacy_path, class: "privacy-info" %>
        <%= link_to 'お問い合わせ先', contact_path, class: "contact-info" %>
        <%= link_to 'お支払いについて', payment_path, class: "payment-info" %>
      <% if user_signed_in? %>
        <%= link_to '退会', user_path(current_user.id), class: "unsubscribe" %>
      <% end %>
    </div>
    <div class="copy">
       <p>©︎ 2018 Infratop.inc</p>
    </div>

    </footer>
    <% end %>

  </body>
</html>
